{% extends 'base.html.twig' %}
{% trans_default_domain "JTContactUsBundle" %}
{% block title %}{{ 'subject.new.title'|trans }}{% endblock %}
{% block body %}
<h1>{{ 'subject.new.title'|trans }}</h1>
{{ form_start(form) }}
	{{ form_widget(form) }}
	<a href="{{ path('jt_contact_us_subject_index') }}">{{ 'subject.back'|trans }}</a>
	<input type="submit" value="{{ 'subject.new.submit'|trans }}" />
{{ form_end(form) }}
{% endblock body %}
