{% extends "base.html.twig" %}
{% trans_default_domain "JTContactUsBundle" %}
{% block title %}{{ 'answer.title'|trans }}{% endblock %}
{% block body %}
<p>{{ contact.content }}</p>
<hr/>
{{ form_start(form) }}
{{ form_widget(form) }}
<input type="submit" />
{{ form_end(form) }}
{% endblock %}